
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    
  }

  
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: grey;
  }

  .intropic {
      padding-top: 20px;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .service h1{
    padding-top: 50px;
    color: white;
  }

.service p {
    
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 25px;
    text-align: justify;
    line-height: 40px;
    
}




.about h1{
  padding-top: 200px;
  color: black;
}
.about p{
  padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 25px;
    text-align: justify;
    line-height: 60px;
}

.footer{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}




* {
  box-sizing: border-box;
}

.column3 {
  float: left;
  width: 36%;
  padding: 5px;
  padding-left: 300px;
}

/* Clearfix (clear floats) */
.row3::after {
  content: "";
  clear: both;
  display: table;
}


.about{
  background-image: url(/images/company.jpg);
  padding-bottom: 150px;
  color: rgb(73, 70, 70);
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.service{
  background-image: url(/images/s1.jpg);
  color: rgb(206, 199, 199);
  padding-bottom: 150px;
}

.body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

